<div class="row">
  <div class="col-md-8">
    <div class="doctor-info">
      <h1>Appointment information</h1>
      <p class="lead"><strong>Doctor: </strong><%= @doctor.name %></p>
      <p class="lead"><strong>Customer: </strong><%= @customer.name %></p>
      <p class="lead"><strong>Pet name: </strong><%= @pet.name %></p>
      <p class="lead"><strong>Reason for visit: </strong><%= @appointment.visit_reason %></p>
      <p class="lead"><strong>Requires reminder: </strong><%= @appointment.requires_reminder %></p>
      <p class="lead"><strong>Appointment date: </strong><%= @appointment.visit_date %></p>
    </div>
  </div>
</div>
